@import './base.module.scss';

.authSection {
  display: grid;
  justify-content: center;
  justify-items: center;

  width: 100%;

  padding-top: 32px;
}

.authLogoMark {
  margin-bottom: $defaultGap * 2;
}

.authTitle {
  @include font(32px, 700);

  margin-bottom: $defaultGap;
}

.authLink {
  @include baseLink();
  color: var(--c-red);
}

@media (max-width: 700px) {
  .authLogoMark {
    margin-bottom: $defaultGap / 2;
  }
}
