@import '../base.module.scss';

.familyHeader {
  @include flexCenterColumn();
  @include container();

  width: 100%;
  background-color: var(--c-blue);
  border-radius: 0px 0px 32px 32px;

  padding-top: 5%;
  padding-bottom: 5%;
}

.backLinkContainer {
  display: flex;
  justify-items: start;
  width: 100%;
}

.textContainer {
  @include font(28px, 700, 28px, var(--c-white));
  text-align: center;
  margin-top: 20px;
}
